__pycache__
*.pyc
*.pyo
*.pyd
*.pyc
*.log

# Virtual environment
venv/
__venv__/
*.venv

# Poetry
.pyenv
.poetry

# Pytest
.pytest_cache

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Local db
db.sqlite3
